@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Gloria+Hallelujah&family=Sono:wght@300;400;500;600;700;800&display=swap');

:root {
  --lavender: #eae8ffff;
  --platinum: #d8d5dbff;
  --french-gray: #adacb5ff;
  --metal: #2d3142;
  --blue: #b0d7ffff;
  --blue_2: rgb(88, 108, 128);
}

body {
  background-color: var(--metal);
  /* background-image: url(../img/ming-BXKF-rHHbT4-unsplash.jpg); */
  font-family: 'Sono', sans-serif;
}
.main {
    display: flex;
    justify-content: center;
}
* {
  color: var(--lavender);
}

button {
  background-color: black;
  cursor: pointer;
}
